Осознаёшь ли ты <a href="tg://user?id={{ user_id }}">{{ username }}</a>, в какой чат пришёл?
Подумай дважды, а лучше трижды, нужно ли оно тебе?
Как ты думаешь, что за люди находятся здесь? Думаешь тут интеллигенция и илита? В чём-то ты прав <a href="tg://user?id={{ user_id }}">{{ username }}</a>, здесь тебя могут интеллигентно послать нахуй и илитно порадовать твою мать.
Ты хочешь получить ответ на свой вопрос? Скорее всего ты получишь ненависть, хейт и оскорбления.
Это чат ламповых алкоголиков, проживших жизнь и повидавших всякое. Любой участник сможет тебе по пунктам объяснить, почему твой батя тебя бросил, потому что он и есть твой отец.
Это чат успешных специалистов, зарабатывающих 300кк\наносек, но не гордящихся этим.
Это чат, в котором эти специалисты могут быть самими собой, а не строить важные лица.
Ты пришёл сюда, а твоя мать, собака, коты и сестра уже во власти этих людей.
Если ты <a href="tg://user?id={{ user_id }}">{{ username }}</a> пришёл сюда, не стоит просить помощи, просто наслаждайся процессом, но тематический чат, возможно, тебе смогут подсказать эти странные лица.