<b>** Сделай реплай и позави {{ bot_name }} **</b>
'<code>{{ bot_name }} {{ ask_bio }}</code>'  —  запросить полное досье
'<code>{{ bot_name }} {{ save_bio }}</code>'  —  записать доп. информацию
'<code>{{ bot_name }} {{ karma }}</code>'  —  информация по карме
'<code>{{ bot_name }} {{ add_sticker }}</code>'  —  сделать стикер с цитатой (введите название пака, если нужно)

<b>** Команды, не требующие реплая **</b>
'<code>{{ bot_name }} {{ add_set }}</code>'  —  создать стикерпак (введите имя после этой команды)
'<code>{{ bot_name }} {{ my_stickers }}</code>'  —  список твоих стикерпаков
'<code>{{ bot_name }} {{ all_stickers }}</code>'  —  полный список стикерпаков этого чата

<b>** Команды, не требующие вызова {{ bot_name }} **</b>
'<code>{{ karma_plus }}</code>'  —  добавить карму
'<code>{{ karma_minus }}</code>'  —  отнять карму
'<code>{{ lies }}</code>'  —  обвинить юзверя во лжи
'<code>{{ not_liar }}</code>'  —  восстановить репутацию (доступна только администраторам)


Ссылка на проект бота <a href="{{ url }}">на github.com</a>
